<%= form_for @post do |f| %>
  <%if @post.errors.any?%>
    <%@post.errors.full_messages.each do |er|%>
    <p><%=er%></p>
    <%end%>
  <%end%>

  <%= f.label :title, "title:" %>
  <%= f.text_field :title %> <br>
  <%= f.label :body, "body:" %>
  <%= f.text_field :body %> <br>
  <%= f.submit %>
<% end %>